<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ThinkerBlog</title>
  <h1 align="center" class="header"><a href="/articles/index" class="page-heading" style="color: #000000; text-decoration: none;">ThinkerBlog</a></h1>
  <br>
  <br>
  <br>
  <br>
  <br>
</head>
<style>
.page-heading {
text-decoration:none;
display: inline-block;
color:black;
}
/* add a empty string after the elment with class .page-heading */
.page-heading:after 
{
color:black;
content: '';
display: block;
height: 5px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease; /* .5 seonds for changes to the width and background-color */
-webkit-transition: width .5s ease, background-color .5s ease; /* Chrome and Safari */
-moz-transition: width .5s ease, background-color .5s ease; /* FireFox */
}
/* Change the width and background on hover, aka sliding out */
.page-heading:hover:after 
{
color:black;
width: 100%;
background: #1abc9c;
}

  .page-heading:hover:before {
    color:black;
    visibility: visible;
    width: 100%;
  }
</style>
<body>
  <div class="container">
    <h1 class="mb-4">Blog Articles</h1>
    <a href="/articles/new" class="btn btn-success">New Article</a>

    <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
          <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>